<div class="nav-fixed row">
	<div class="nav-container row">
		<!-- <button class="nav-btn about" (click)="routeTo('about')">About</button>
		<button class="nav-btn test" (click)="routeTo('test')">Test</button> -->
		<button class="nav-btn about"><a href="/about">About</a></button>
		<button class="nav-btn test"><a href="/test">Test</a></button>
		<button class="nav-btn about"><a href="/about">About</a></button>
		<button class="nav-btn test"><a href="/test">Test</a></button>
		<button class="nav-btn about"><a href="/about">About</a></button>
		<button class="nav-btn test"><a href="/test">Test</a></button>
	</div>
	<div class="nav-end-part"></div>
</div>
